@page "/greet"
@using AStar.Dev.Functional.Extensions

<h3>Greet Me</h3>

<input @bind="name" placeholder="Enter your name"/>
<button @onclick="GreetOnClick">Go</button>

<p>@greeting</p>

@code {
    private string? name;
    private string  greeting = string.Empty;

    void GreetOnClick()
    {
#pragma warning disable CS8604 // Possible null reference argument. That is the point...
        Option<string> input = name;
#pragma warning restore CS8604 // Possible null reference argument.

        greeting = input.Match(
                               some => $"Hello, {some}!",
                               ()    => "Hello, mysterious friend.");
    }

}
