@page "/try-parse"
@using AStar.Dev.Functional.Extensions

<h3>Try Parse Input</h3>

<input @bind="input" placeholder="Enter a number"/>
<button @onclick="ParseOnClick">Parse</button>

<p>@result</p>

@code {
    private string? input;
    private string  result = "";

    void ParseOnClick()
    {
        var attempt = Try<int>.Run(() => int.Parse(input!));

        result = attempt.Match(
                               ok => $"Parsed: {ok}",
                               ex => $"Oops: {ex.Message}");
    }

}
